{% extends "main/format.html" %}

{%  block content %}
	<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    M.AutoInit()
    var instance = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });


  });

</script>
  
  <div class="carousel carousel-slider center">
    <div class="carousel-item black-text">
      <h2>Pesto penne pasta</h2>
      <p class="black-text">Restaurant style pesto pasta</p>
      <a href="categories/pesto-pasta"><img src="/media/uploads/pesto-pasta.jpg" title = "pasta" /></a>
    </div>
    <div class="carousel-item black-text">
      <h2>Pizza</h2>
      <p class="black-text">Learn how to make delicious home-made pizza!!</p>
      <a href="categories/pizza"><img src="/media/uploads/pizza.jpg" title="pizza" /></a>
    </div>
    <div class="carousel-item black-text">
      <h2>Tteok-bokki</h2>
      <p class="black-text">Delicious Tteokbokki just a click away!!</p>
      <a href="categories/tteokbokki"><img src="/media/uploads/tteokbokki.jpg" title="tteokbokki" /></a>
    </div>
    <div class="carousel-item black-text">
      <h2>Dal makhani</h2>
      <p class="black-text">Unconditionally delicious makhani!!</p>
      <a href="categories/dal-makhani"><img srrc="dal-makhani-recipe-1-500x375.jpg" title="Dal makhani" /></a>
    </div>
  </div>
     <div class="carousel-fixed-item center">
  <a href="categories/" class="btn waves-effect black grey-text darken-text-2">Show receipes</a>
</div>
  <style type="text/css">
    .carousel{
      height: 500px;
      width: ;
    }
    img{
      height:400px;
      width:1024px;
    }
    h2{
      margin-top:5px;
    }
  </style>
{% endblock %}